.root {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 10px 4px 4px;
  border-radius: 16px;
  background-color: #fef3f2;
}
.message {
  color: #b42318;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
