/* You can add global styles to this file, and also import other style files */
app-root {
  font-family: sans-serif;
  background-color: __backgroundColor__;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}