.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.topBar {
  display: flex;
}

.textButton {
  border: none;
}

.storybookTextInput {
  display: flex;
  flex-direction: column;
}

.properties {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h4 {
    margin: 0;
  }

  a {
    // text-decoration: underline;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
  }

  label {
    display: flex;
    align-self: flex-start;
  }

  input[type="checkbox"] {
    width: auto;
  }
}
