.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.icon {
  position: absolute;
  left: 8.3333%;
  right: 10.4166%;
  top: 4.055%;
  bottom: 8.3333%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
