node_modules
yarn-error.log
# OS 
.DS_Store
# Env
/.env
/credentials/*
!/credentials/.gitkeep
/vscode-profile*
accept-a-payment/.cli.json
accept-a-payment/.env.example
accept-a-payment/.gitignore
accept-a-payment/.prettierignore
accept-a-payment/.prettierrc.yml
accept-a-payment/.rspec
accept-a-payment/Gemfile
accept-a-payment/LICENSE
accept-a-payment/README.md
accept-a-payment/client/.gitignore
accept-a-payment/client/package.json
accept-a-payment/client/README.md
accept-a-payment/client/public/index.html
accept-a-payment/client/src/index.js
accept-a-payment/client/src/components/Canceled.js
accept-a-payment/client/src/components/Checkout.js
accept-a-payment/client/src/components/Success.js
accept-a-payment/client/src/css/global.css
accept-a-payment/client/src/css/normalize.css
accept-a-payment/server/package.json
accept-a-payment/server/README.md
accept-a-payment/server/server.js
