node_modules
yarn-error.log
# OS 
.DS_Store
# Env
/.env
/credentials/*
!/credentials/.gitkeep
/vscode-profile*

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
