.root {
  height: 48px;
  align-self: stretch;
  flex-direction: row;
  place-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  background-image: linear-gradient(139.7deg, #1e51b2 0%, #0d347c 100%);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.contactUs {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

.contactUs:hover {
  text-decoration: underline;
}

.discordLink {
  display: flex;
  align-self: stretch;
  flex-direction: row;
}

.discordLogo {
  width: 40px;
  align-self: stretch;
  overflow: visible;
  /* padding: 8px; */
}