html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* html,
body,
#root {
  display: flex;
  flex-direction: column;
} */

html,
body,
#root,
body > div * {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}