.root {
  position: relative;
  width: 32px;
  align-self: stretch;
  height: initial;
  place-content: center;
  align-items: flex-end;
}
.discordLogoSvg {
  position: absolute;
  left: 6.25%;
  right: 6.25%;
  top: 18.1818%;
  bottom: 18.1818%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
