html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

#root {
  position: relative;
}

/* Using this selector instead of #root or .something is important to let components override them. It keeps a lower selector specificity than classes. */
body > div * {
  /* $RESETS */
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body span, body a {
  display: inline;
}

img {
  object-fit: contain;
}
