@import './core/theme/variables.scss';

.root {
  height: 100%;
  font-family: sans-serif;
  background-color: #e5e5e5;
  flex: 1;
}

.toasters {
  position: absolute;
  top: 12px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  gap: 8px;
  pointer-events: none;
  width: 340px;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   padding: 1rem;
//   flex: 1;
//   justify-content: space-between;
//   gap: 32px;
// }

// .body {
//   display: flex;
//   flex-direction: column;
// }

// .footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
