@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#react-page {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
  /* "Nunito Sans" */
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

#react-page {
  position: relative;
}

/* Using this selector instead of #root or .something is important to let components override them. It keeps a lower selector specificity than classes. */
/* body > :where(#react-page) :not(style, script, pre, textarea, span, a) {
  display: flex;
}
body > :where(#react-page) :not(style, script, pre, textarea) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  /# New rule from Clapy generated code, to test carefully: #/
  /# flex-shrink: 0; #/
  text-decoration: none;
  min-width: 0;
} */

body button:not(:disabled) {
  cursor: pointer;
  user-select: none;
}

body label {
  user-select: none;
  flex-direction: row;
  cursor: pointer;
}

/* body span, body a {
  display: inline;
}

img {
  object-fit: contain;
} */

:where(.clapyResets),
:where(.clapyResets) * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  /* New rule from Clapy generated code, to test carefully: */
  /* flex-shrink: 0; */
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

/* style, script, pre, textarea: addition for Clapy plugin */
:where(.clapyResets),
:where(.clapyResets) :not(style, script, pre, textarea, span, a, ul, ol, li, p) {
  display: flex;
}

:where(.clapyResets) ul,
:where(.clapyResets) ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

:where(.clapyResets) p:empty::before {
  content: '';
  display: inline-block;
}

:where(.clapyResets) img {
  object-fit: contain;
}
