.arrowLeft.arrowLeft {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  align-self: stretch;
  width: initial;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0 0 16px;
}
.pageTitle {
  color: #000;
  font-size: 32px;
  line-height: 126.4999%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  width: initial;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.loremIpsumDolorSitAmetConsecte {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  width: initial;
  text-align: center;
  justify-content: center;
}
