.root {
  padding: 2px 8px;
  border-radius: 16px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.free {
  color: #344054;
  background-color: #f2f4f7;
}
.text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.pro {
  color: #004EEB;
  background-color: #EFF4FF;
}
