.root {
  padding: 6px 16px;
  overflow: hidden;
  color: #00000042;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
