.root {
  width: 404px;
  height: 600px;
  position: absolute;
  left: 225px;
  top: 211px;
  background-color: #fff;
  overflow: hidden;
}
.content {
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px 32px;
}
.logoBeta {
  flex-direction: row;
  align-items: flex-start;
  gap: 6.1867px;
}
.clapyLogo2 {
  width: 161.1643px;
  height: 51.065px;
  overflow: visible;
}


.content2 {
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  gap: 24px;
}
.buttonsWrapper {
  gap: 12px;
  flex-direction: column;
}
.paragraph {
  flex-direction: column;
  gap: 8px;
}
.signInToClapy {
  color: #000;
  font-size: 32px;
  line-height: 126.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-direction: column;
  align-self: stretch;
  text-align: center;
  justify-content: end;
}
.generateCleanCodeFromFigmaInst {
  color: #000;
  font-size: 16px;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  flex-direction: column;
}
.docLink {
  color:#004EEB;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.signInRow {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
