.root {
  width: 404px;
  height: 600px;
  position: absolute;
  left: 225px;
  top: 211px;
  background-color: #fff;
  overflow: hidden;
}
.content {
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px 32px;
}
.logoBeta {
  flex-direction: row;
  align-items: flex-start;
  gap: 6.1867px;
}
.clapyLogo2 {
  width: 106.1643px;
  height: 42.065px;
  overflow: visible;
}
.betaBadge {
  flex-direction: column;
  align-self: stretch;
  place-content: center;
  padding: 3.4757px 0 0;
}
.frame52 {
  align-self: flex-start;
  flex-direction: row;
  padding: 2.7805px 4.1708px;
  border-radius: 2.3634px;
  background-image: linear-gradient(180deg, #1e51b2 0%, #0d347c 100%);
  background-position: center;
  background-repeat: no-repeat;
}
.beta {
  flex-direction: column;
  color: #fff;
  font-size: 11.1221px;
  line-height: 0;
  font-weight: bold;
  font-family: Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  width: 27.9443px;
  height: 14.4587px;
  text-align: center;
  justify-content: center;
}
.content2 {
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  gap: 24px;
}
.buttonsWrapper {
  gap: 12px;
  flex-direction: column;
}
.paragraph {
  flex-direction: column;
  gap: 8px;
}
.signInToClapy {
  color: #000;
  font-size: 32px;
  line-height: 126.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-direction: column;
  align-self: stretch;
  text-align: center;
  justify-content: end;
}
.generateCleanCodeFromFigmaInst {
  color: #000;
  font-size: 16px;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
}
.signInRow {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
