@import '../../core/theme/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.buttonContainer {
  display: flex;
  margin: 1rem 0;
}
