.root {
  flex: 1;
  align-self: stretch;
  justify-content: stretch;
  flex-direction: column;
  overflow-y: auto;
}

.imageWrapOuter {
  height: 88px;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
}

.imageWrapInner {
  height: 120px;
  align-items: flex-start;
  position: absolute;
  left: -0.5px;
  right: 0.5px;
  top: 0;
  overflow: hidden;
}

.image {
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.settingsContainer {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px;
}

.userMetadata {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.textAndSupportingText {
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}

.frame136 {
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
}

.textAndOnlineIndicator {
  align-self: stretch;
  place-content: space-between;
  align-items: center;
}

.text {
  color: #101828;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}

.supportingText {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
}

.badges {
  align-self: stretch;
  flex-direction: column;
}

.row {
  align-self: stretch;
  align-items: flex-start;
  gap: 4px;
}

.actions {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 32px;
}

.loader {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 0 32px;
  align-items: center;
}