._ButtonBase._ButtonBase {
  align-self: flex-start;
  outline: initial;
  outline-offset: initial;
  background-color: initial;
  box-shadow: initial;
  position: absolute;
  top:0;
  left:0;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  border-radius: 8px;
}
