._ButtonBase._ButtonBase {
  align-self: flex-start;
  padding: initial;
  outline: initial;
  outline-offset: initial;
  background-color: initial;
  box-shadow: initial;
}
.text {
  color: #004eeb;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  white-space: nowrap;
}
