.root {
  flex: 1;
  background-color: #fff;
}
.frame71 {
  flex: 1;
  align-self: stretch;
  place-content: center;
  gap: 16px;
  padding: 64px 24px;
  overflow: hidden;
}
.frame73 {
  height: 60px;
  align-self: stretch;
}
.chooseTheElementYouNeedToCode {
  color: #000;
  font-size: 24px;
  line-height: 126.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  align-self: stretch;
  text-align: center;
  justify-content: end;
}
.frame76 {
  height: 212px;
  align-self: stretch;
  flex-direction: row;
  place-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  background-color: #f3f3f3;
}
.selectAnElementToPreviewItHere {
  color: #696969;
  font-size: 16px;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 278px;
  text-align: center;
}
.frame77 {
  align-self: stretch;
  flex-direction: row;
}
