.root {
  outline: solid 1px #b2ccff;
  outline-offset: -1px;
  flex: 1;
  flex-direction: row;
  place-content: center;
  padding: 16px 28px;
  border-radius: 8px;
  background-color: #b2ccff;
  overflow: hidden;
  filter: drop-shadow(0px 1px 2px #1018280d);
}
.text {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
