.root {
  flex: 1;
  place-content: center;
  background-color: #eff4ff;
  overflow: hidden;
}
.content {
  align-self: stretch;
  flex-direction: row;
  place-content: center;
  padding: 12px;
}
.text {
  color: #004eeb;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
.bottomBorder {
  height: 2px;
  align-self: stretch;
  background-color: #004eeb;
}
