.root {
  flex-basis: 100%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.buttonUpgrade.buttonUpgrade {
  align-self: stretch;
  width: initial;
}
._ButtonBase._ButtonBase._ButtonBase {
  flex: 1;
}
.clock.clock {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.text {
  color: #d0d5dd;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
