@import './core/theme/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  justify-content: space-between;
  gap: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
