<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Clapy</title>
  <script type="text/javascript">
    if (window.opener) {
      window.opener.focus();
      window.close();
    }
  </script>
</head>

<body>
  <h1>You are now signed out. You can close this window and go back to Figma.</h1>
</body>

</html>