.previewTitle {
  color: #000;
  font-size: 24px;
  line-height: 126.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  flex-direction: column;
  justify-content: end;
  height: 60px;
}

.openResult {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.accordionRoot.accordionRoot {
  align-self: stretch;
  display: block;
  box-shadow: none;
}
.accordionRoot.accordionRoot::before {
  content: none;
}
html body :where(.accordionRoot) * {
  display: block;
}
