.previewTitle {
  color: #000;
  font-size: 24px;
  line-height: 126.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  flex-direction: column;
  justify-content: end;
}

.genConfigSection {
  flex-direction: column;
}

.hide {
  display: none !important;
}

.openResult {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.resultButton {
  flex: 1;
}

.accordionRoot.accordionRoot.accordionRoot {
  align-self: stretch;
  display: block;
  box-shadow: none;
  margin-left: -12px;
  margin-right: -12px;
}

.accordionRoot.accordionRoot::before {
  content: none;
}

html body :where(.accordionRoot) :not(style, script, span, a) {
  display: block;
}

html body :where(.accordionRoot) span,
a {
  display: inline;
}
.root {
  flex-direction: column;
  flex: 1;
  gap: 12px;
  align-self: stretch;
}
.outerOption {
  align-self: start;
}

.links {
  color: #004eeb;
  display: inline-block;
  font-size: 16px;
}

.fullQuotaTextContainer {
  display: block;
  line-height: 24px;
  text-align: center;
}

.textSetting.textSetting {
  margin-top: 10px;
}
