.root {
  height: 152px;
  align-self: stretch;
  flex-direction: row;
  place-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  background-color: #f3f3f3;
  flex-shrink: 0;
}
.previewPlaceholderText {
  color: #696969;
  font-size: 16px;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 278px;
  text-align: center;
  flex-direction: column;
}

.previewPlaceholderImage {
  max-width: 100%;
  flex: 1;
  align-self: stretch;
}

.rootLoading {
  height: 152px;
  align-self: stretch;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
}

.loadingWrapper {
  flex-direction: column;
  height: 52px;
}

.loadingText {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
