:where(.clapyResets),
:where(.clapyResets) * {
  box-sizing: border-box;
  margin: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
}
:where(.clapyResets),
:where(.clapyResets) :not(ul) {
  padding: 0;
}
:where(.clapyResets),
:where(.clapyResets) :not(span, a, ul, ol, li) {
  display: flex;
}
