:where(.clapyResets),
:where(.clapyResets) * {
  box-sizing: border-box;
  margin: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
}

:where(.clapyResets),
:where(.clapyResets) :not(ul, ol) {
  padding: 0;
}

:where(.clapyResets),
:where(.clapyResets) :not(span, a, ul, ol, li, p) {
  display: flex;
}

:where(.clapyResets) ul {
  text-indent: 0;
  padding-inline-start: 22px;
}

:where(.clapyResets) ul > li > * {
  margin-left: -4px;
}

:where(.clapyResets) ol {
  text-indent: 0;
  padding-inline-start: 16px;
}

:where(.clapyResets) ol > li {
  padding-left: 2px;
}

:where(.clapyResets) img {
  object-fit: contain;
}
