# .github/workflows/main.yml
name: Master
on:
  push:
    branches:
      - master
    paths: 
      - "figma-plugin-clapy/**"
      - ".github/**"

defaults:
  run:
    working-directory: figma-plugin-clapy

jobs:
  figma_plugin:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3
      - name: Prepare node environment
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          # The cache is used as long as the lock file doesn't change.
          # It is used to get the key of the cache.
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: yarn install
        run: yarn install --immutable
        # uses: borales/actions-yarn@v2.3.0
        # with:
        #   cmd: install

      - name: yarn build:prod
        run: yarn build:prod
        # uses: borales/actions-yarn@v2.3.0
        # with:
        #   cmd: build

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d %H:%M:%S')"

      - name: Upload to gdrive
        uses: adityak74/google-drive-upload-git-action@v0.1
        with:
          credentials: ${{ secrets.credentials }}
          filename: "figma-plugin-clapy/dist/plugin.zip"
          folderId: ${{ secrets.folderId }}
          name: "Clapy plugin ${{ steps.date.outputs.date }}.zip"
          overwrite: "false" # optional boolean