.root {
  flex: 1;
  flex-direction: row;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 100ms ease-in-out;
}

.root:not(.disabled):hover {
  background-color: #eff4ff;
}

.root:not(.disabled):active {
  background-color: #e6edfd;
}

.arrowLeft {
  width: 20px;
  height: 20px;
}

.text {
  color: #004eeb;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}